<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :username, autofocus: true %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.text_field :first_name, autofocus: true %>
  <%= f.text_field :last_name, autofocus: true %>
  <%= f.text_field :city, autofocus: true %>
  <%= f.text_field :state, autofocus: true %>
  <%= f.text_field :zip_code, autofocus: true %>
  <%= f.text_area :about, autofocus: true %>

  <%= f.date_select :birthday %>

  <%= f.submit %>
<% end %>

<%= render "devise/shared/links" %>
